.header {
  background: #5f98cd;
  color: #fff;
  position: relative;
  height: 40px;
  padding: 10px 0;


  .menuIcon {
    display: inline-block;
    width: 29px;
    height: 15px;
    top: 23px;
    left: 20px;
    cursor: pointer;
    &:hover {
      .dashTop,
      .dashBottom,
      .circle {
        background: #fff;
      }
    }

    .dashTop {
      position: absolute;
      width: 20px;
      height: 3px;
      top: 0;
      left: 0;
      background: #b2daff;
      border-radius: 3px;
      -webkit-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
    }

    .dashBottom {
      position: absolute;
      width: 20px;
      height: 3px;
      top: 0;
      left: 0;
      background: #b2daff;
      border-radius: 3px;
      -webkit-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
      width: 29px;
      top: auto;
      bottom: 0;
    }

    .circle {
      position: absolute;
      height: 7px;
      width: 7px;
      border-radius: 4px;
      top: -2px;
      right: 0;
      background: #b2daff;
      -webkit-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
    }
  }

  .title {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    width: 80%;
    margin: 0;
    line-height: 40px;
  }

  .searchIcon {
    z-index: 3;
    font-size: 21px;
    top: 18px;
    right: 20px;
    height: 30px;
    position: absolute;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    cursor: pointer;

    &:hover {

    }
  }

  .search {
    display: inline-block;
    height: 40px
  }
}
