.searchForm {
  color: #666;
  display: inline-block;
  font-size: 14px;
  height: 30px;
  opacity: 0;
  padding: 5px 0;
  pointer-events: none;
  transform: translateX(15px);
  transition: all 0.3s ease-in-out;

  &.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }
  .searchForm-input {
    background: #fff;
    border-radius: 17px;
    box-sizing: border-box;
    width: 200px;
    height: 30px;
    &:focus {
      outline: none;
    }
  }
}
